.navigation
  background-color: $transparent-gray
  width: 100%
  display: flex
  position: fixed

  &__bar
    display: flex
    justify-content: space-between
    align-items: center
    @include maxsize
    padding: 2rem 4rem

  .logo
    height: 5rem
    display: flex
    align-items: center
    justify-content: center

    &__image,
    &__image_small
      height: 100%;
    
    &__image_small
      display: none

  .links
    #abstract__checkbox
      display: none

    &__menu
      display: none

    &__list
      display: flex;
      gap: 2rem
      list-style: none
      justify-content: space-between

    &__item
      font-size: 2rem
      color: $yellow
      transition: transform .3s ease-in-out, opacity .3s ease-in-out

      &:hover
        transform: scale(1.05)
        opacity: .7
