.section__addcars{
  padding: 5rem 10rem;
  /* background-image: linear-gradient(to right top, var(--blue-main), var(--burgundy-main)); */
  background-color: var(--gray-light);
}
/*TODO: Container */
.cars__container{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

/*TODO Table OR Car list */
.cars__table{
  border-collapse:collapse;
  border-radius: 1rem;
}
.table__heading{
  font-size: 2rem;
  padding: .4rem .6rem;
  color: var(--font-main);
  letter-spacing: 1px;
  text-transform: uppercase;
}
.table__data{
  border: 1px solid var(--gray-dark);
  padding: .4rem .6rem;
}

.cars__table > thead{
  background-color: var(--gray-dark);
  color: var(--gray-dark);
}

/*TODO: Add car section */
.addcar__form >* input{
  margin-bottom: 2rem;
}
.addcar__form > .button__box{
  margin-top: 2rem;
  width: fit-content;
}