/* TODO: Button on authentication page */
.button{
  border: none;
  font-size: 2rem;
  padding: .4rem .8rem;
  color: transparent;
  cursor: pointer;
  color: transparent;
}
.button__container{
  border-radius: .4rem;
  position: relative;
  overflow: hidden;
  transition: box-shadow .3s ease-in-out;
}
.button::before,
.button::after{
  position: absolute;
  top: 0;
  height: 100%;
}
.button__blue::after,
.button__blue::before{
  left: 0;
}
.button__burgundy::after{
  left: 0
}
.button__burgundy::before{
  left: -150%;
}
.button::before{
  background-image: linear-gradient(120deg, var(--btn-main) 50%, rgba(var(--btn-2-rgb), 1) 50%);
  width: 260%;
  transition: transform .3s ease-in-out;
}
.button__blue::before{
  content: '';
}
.button__burgundy::before{
  content: '';
}
.button__container:hover .button__blue::before{
  transform: translateX(-55%);
}
.button__container:hover .button__burgundy::before{
  transform: translateX(55%);
}
.button::after{
  content: attr(data-set);
  width: 100%;
  padding: .4rem .8rem;
  transition: color .3s ease-in-out;
  transform-origin: right;
}
.button__blue::after{
  color: var(--btn-2);
}
.button__burgundy::after{
  color: var(--btn-main);
}
.button__container:hover .button__blue::after{
  color: var(--btn-main);
}
.button__container:hover .button__burgundy::after{
  color: var(--btn-2);
}

