.input__box{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  position: relative;
}
.label{
  font-size: 2rem;
  position: absolute;
  top: 2.6rem;
  left: .8rem;
  cursor: pointer;
  transition: top .3s ease-in-out,
              color .3s ease-in-out;
  color: var(--burgundy-main)
}
.input{
  margin-top: 2.5rem;
  border: none;
  font-size: 2rem;
  padding: .4rem .8rem;
  border-radius: .4rem;
  font-family: inherit;
  cursor: pointer;
  transition: opacity .3s ease;
}
.input::placeholder{
  opacity: 0;
  transform-origin: left;
  transform: scale(0);
  transition: opacity .3s ease .1s,
              transform .2s ease .2s;
}
.input:focus{
  outline: none;
  background-color: #ccc;
}
.input:focus::placeholder{
  opacity: 1;
  color: rgba(var(--burgundy-main-rgb), .7);
  transform: scale(1);
}
.input:focus + .label,
.input:valid + .label,
.input:not(:placeholder-shown) + .label {
  top: -.5rem;
  color: var(--blue-main);
}

/*? Media Queries = Responsive */
@media (max-width: 64em){
  .label,
  .input
  {
    font-size: 1.8rem;
  }
  .input{
    margin-top: 2rem;
  }
  .label{
    top: 2.1rem
  }
}