/*? Section */
.section__cards{
  max-width: 192rem;
  margin: 0 auto;
  padding: 5rem 10rem;
  background-image: linear-gradient(to right top, var(--gray-light), var(--gray-dark));
}

/*? Products Container  */
.cards__container{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/*? CARDS/PRODUCTS */
.card{
  background: white;
  box-shadow: 0 2rem 6rem 1rem rgba(0, 0, 0, 0.15);
  margin-bottom: 5rem;
  transform: skewX(-20deg);
  display: flex;
  align-items: center;
  transition: all 0.5s;
  width: 100%;
  width: fit-content;
  margin: 0 auto;
  transition: transform .8s;
}
.card:hover{
  transform: scale(1.05) skewX(-20deg);
}
.card__texts{
  display: flex;
  align-items: center;
  gap: 2rem;
  user-select: none;
  cursor: context-menu;
}
.card__text_box{
  border-right: 1px solid var(--gray-light);
  padding: 1rem 2rem;
}
.card__text_box:last-child{
  border: none;
}
.card__text{
  font-size: 2.6rem;
  color: var(--gray-light);
  transform: skewX(20deg);
}
.card__text_box-model{
  background-image: linear-gradient(to left top, var(--blue-main), var(--btn-2));
  border-right: none;
}
.card__model{
  transform: skewX(20deg);
}

/*? Form  */
.rent__car_container{
  display: flex;
  gap: 2rem;
  flex-grow: 1;
  align-self: stretch;
}
.rent__car_container > hr{
  background-color: var(--gray-light);
  color: var(--gray-light);
}
.input_rent:first-child{
  margin-left: 2rem;
}
.rent__input_box:last-child{
  background-image: linear-gradient(to left top, var(--btn-main), var(--blue-main));  
  transition: box-shadow .5s ease-in-out;
}
.input_rent{
  transform: skewX(20deg);
  display: flex;
  align-items: center;
  height: 100%;
  border: none;
  font-size: 2.4rem;
  cursor: pointer;
  user-select: none;
}
.input_rent:focus{
  outline: none;
}

.btn__box{
  height: 100%;
  border: none;
  align-self: center;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn__book{
  color: var(--link);
  font-size: 2rem;
  padding: 1rem 2rem;  
  display: flex;
  align-items: center;
  height: 100%;
  transform: skewX(20deg);
  user-select: none;
}
.btn__book:hover{
  color: var(--link-2);
}
.rent__car_container:hover > .rent__input_box:last-child{
  box-shadow: inset 0 0 .6rem .5rem rgba(var(--blue-main-rgb), .6);
}

.btn__booked{
  pointer-events: none;
}


/*? Pagination */
.pagination{
  display: flex;
  list-style: none;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}
.pagination__link{
  border: 1px solid var(--btn-2);
  padding: .4rem .8rem;
  border-radius: 50%;
}
.active__page{
  color: antiquewhite;
  background-color: #fff;
}