html {
  font-size: 62.5%;
  box-sizing: border-box; }

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  background-color: #17171a;
  margin: 0 auto;
  font-size: 1.6rem;
  color: #f8f9fa;
  line-height: 1.5; }

.navigation {
  background-color: #17171a44; }
  .navigation__bar {
    margin: 0 auto;
    max-width: 145rem;
    display: flex;
    padding: 2rem 4rem; }
  .navigation .logo {
    max-height: 5rem; }
    .navigation .logo__image, .navigation .logo__image_small {
      height: 100%; }
    .navigation .logo__image_small {
      display: none; }
