html {
  font-size: 62.5%;
  box-sizing: border-box; }

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  background-color: #17171a;
  margin: 0 auto;
  font-size: 1.6rem;
  color: #f8f9fa;
  line-height: 1.5; }

.heading__primary {
  font-size: 5.8rem;
  margin-bottom: 4rem; }

.cards__heading_box {
  width: 100%;
  background-image: linear-gradient(to right, #17171a 15%, rgba(23, 23, 26, 0.9) 30%, rgba(23, 23, 26, 0.6) 50%, transparent), url("https://images.pexels.com/photos/358189/pexels-photo-358189.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .cards__heading_box .card__heading {
    width: 100%;
    max-width: 145rem;
    margin: 0 auto;
    padding: 15rem 10rem; }
    .cards__heading_box .card__heading .heading__paragraph {
      width: 50%;
      font-size: 2rem; }

.navigation {
  background-color: #17171a44;
  width: 100%;
  display: flex;
  position: fixed; }
  .navigation__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 145rem;
    margin: 0 auto;
    padding: 2rem 4rem; }
  .navigation .logo {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .navigation .logo__image, .navigation .logo__image_small {
      height: 100%; }
    .navigation .logo__image_small {
      display: none; }
  .navigation .links #abstract__checkbox {
    display: none; }
  .navigation .links__menu {
    display: none; }
  .navigation .links__list {
    display: flex;
    gap: 2rem;
    list-style: none;
    justify-content: space-between; }
  .navigation .links__item {
    font-size: 2rem;
    color: #f9cb13;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out; }
    .navigation .links__item:hover {
      transform: scale(1.05);
      opacity: .7; }
